@media (max-width: 992px) {
	.company-page_content-wrap{
		width: calc(100% - 183px);
		margin-bottom: 35px;
	}
	.company-page_content-wrap .company-page_banner img {
		height: 282px;
	}
	.company-page_not-active .company-page_banner-not-active img {
		height: 282px;
	}
	.company-page_not-active .company_map,
	.company-page_not-active .company-page_map {
		max-width: 282px;
		max-height: 155px;
	}
	.company-page_not-active .company-page_desc-adress,
	.company-page_not-active .company-page_desc-phone a,
	.company-page_not-active .company-page_desc-time {
		font-size: 14px;
	}
	.company-page_not-active .company-page_head,
	.company-page_not-active .company-page_description-wrap {
		max-width: calc(100% - 190px);
		margin: 15px 0 0 0;
	}
	.company-page_not-active .company-page_description-text {
		margin-top: 6px;
	}
	.company-page_not-active .company-page_banner-not-active {
		position: absolute;
		right: 0;
		top: 34px;
	}
}
@media (max-width: 768px) {
	.company-page_not-active .company-page_banner-not-active {
		position: absolute;
		right: 0;
		top: 23px;
	}
	.company_map {
		max-width: 282px;
		max-height: 155px;
	}
	.company-page_map{
		height: 155px;
		margin-top: 0;
	}
	.company-page_head-wrap {
		max-width: 821px;
		margin: 11px auto 0;
		overflow: hidden;
	}
	.company-page_head{
		padding-bottom: 10px;
		margin-bottom: 14px;
	}
	.company-page_description-wrap{
		max-width: 580px;
	}
	.company-page_description-text{
		margin-top: 8px;
	}
	.company-page_desc-adress{
		margin-bottom: 10px;
		font-size: 16px;
	}
	.company-page_desc-phone {
		margin-bottom: 12px;
	}
	.company-page_desc-phone a, .company-page_desc-time{
		font-size: 16px;
		line-height: 1.15;
	}
	.company-page_content-text-bold,
	.company-page_content-text {
		font-family: "MyriadProLight";
		font-size: 16px;
	}
	.company-page_similar h2{
		font-size: 16px;
	}
	.company-page_similar-item{
		padding: 0 5px 0 0;
	}
	.company-page_similar-item {
		height: 106px;
	}
	.company-page_similar{
		margin-bottom: 37px;
	}
	.company-page_reviews_leave-your-assessment{
		width: calc(100% - 80px);
		margin-left: 12px;
	}
	.company-page_reviews_leave-your-assessment-left a{
		margin-right: 30px;
	}
	.company-page_reviews_leave-your-assessment-left span{
		font-size: 16px;
	}
	.company-page_reviews_leave-your-assessment-left a{
		font-size: 14px;
		padding: 8px 0 7px 0;
	}
	.company-page_reviews_leave-your{
		margin-bottom: 25px;
	}
	.company-page_reviews_item-head p{
		font-size: 18px;
		margin-bottom: 2px;
	}
	.company-page_reviews_item-name{
		font-size: 12px;
		margin-top: 8px;
	}
	.company-page_reviews_item-message p{
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 5px;
	}
	.company-page_reviews_item-img {
		padding-right: 12px;
	}
	.company-page_reviews_item-time{
		font-size: 12px;
	}
	.company-page_reviews_item-minuses,
	.company-page_reviews_item-minuses .company-page_reviews_item-minuses-head,
	.company-page_reviews_item-reply-text {
		font-size: 16px;
	}
	.company-page_reviews_item-reply-text::after{
		top: -6px;
	}
	.company-page_reviews_item{
		padding-bottom: 23px;
		margin-bottom: 30px;
	}
	.company-page_reviews_item-answer{
		margin-left: 76px;
		margin-bottom: 27px;
	}
	.company-page_reviews_item-main {
		margin-bottom: 18px;
	}
	.company-page_watch-more a{
		font-size: 14px;
		padding: 12px 0;
	}
	.latest_news h2{
		font-size: 16px;
	}
	.company-page_content{
		margin-bottom: 27px;
	}
	.latest_news-wrap{
		display: block;
	}
	.latest_news-item{
		display: block;
		width: 100%;
		overflow: hidden;
		padding: 0;
		margin-bottom: 10px;
		height: 150px;
	}
	.latest_news-item img{
		float: left;
		padding-right: 15px;
		margin-bottom: 0;
	}
	.latest_news p{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0;
	}
	.latest_news{
		margin-bottom: 40px;
	}
	.company-page_similar-item-logo img{
		max-height: 35px;
	}
	.company-page_head-logo img{
		max-height: 39px;
		margin-top: 10px;
	}
	.company-page_reviews_add{
		margin-left: 79px;
	}
}
@media (max-width: 730px) {
	.company-page_map{
		display: block;
		float: none;
	}
	.company-page_not-active .company-page_banner-not-active {
		position: absolute;
		right: 0;
		top: 161px;
	}
	.company-page_not-active .company-page_head,
	.company-page_not-active .company-page_description-wrap{
		max-width: 100%;
	}
}
@media (max-width: 560px) {
	.company-page_content-wrap .company-page_banner,
	.company-page_map,
	.company-page_head-site,
	.company-page_desc-time,
	.company-page_desc-phone {
		display: none;
	}
	.company-page_content-wrap{
		width: 100%;
		margin-bottom: 27px;
	}
	.company_arrow_prev,
	.company_arrow_next {
		width: 8px;
		height: 17px;
		background-size: cover;
		margin-top: -8px;
	}
	.company-page_head-logo img{
		height: 34px;
	}
	.company-page_head-wrap {
		margin: 20px auto 0;
	}
	.company-page_head-rating {
		margin-bottom: 0;
		margin-top: 16px;
	}
	.company-page_head {
		padding-bottom: 21px;
		margin-bottom: 5px;
	}
	.company_mobile-site a{
		display: block;
		font-family: "MyriadProLight";
		font-size: 18px;
		line-height: normal;
		color: #000000;
	}
	.company-page_description-text {
		display: block;
		margin-top: 0;
	}
	.company_mobile-call{
		display: inline-block;
		position: relative;
	}
	.company_mobile-mode{
		float: right;
		position: relative;
	}
	.company_mobile-call span,
	.company_mobile-mode span{
		font-family: "MyriadProLight";
		font-size: 16px;
		cursor: pointer;
		color: #000;
		vertical-align: middle;
		display: inline-block;
		height: 26px;
	}
	.company_mobile-call span::before{
		content: url('../img/call.png');
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
	}
	.company_mobile-mode span::before{
		content: url('../img/clock.png');
		width: 20px;
		height: 19px;
		vertical-align: middle;
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 3px;
	}
	.company-page_desc-adress{
		border-bottom: 1px solid #bbbbbb;
		padding-bottom: 7px;
		margin-bottom: 7px
	}
	.company_mobile-site a{
		border-bottom: 1px solid #bbbbbb;
		padding-bottom: 7px;
		margin-bottom: 7px;
	}
	.company-page_description {
		padding-bottom: 2px;
	}
	.company-page_desc-adress::after,
	.company_mobile-site a::after {
		content: url('../img/arr-com.png');
		position: absolute;
		right: 0;
	}
	.company_mobile-call_hidden a{
		display: block;
		font-family: "MyriadProLight";
		font-size: 16px;
		color: #000;
		margin-bottom: 4px;
		white-space: nowrap;
	}
	.company_mobile-call_hidden a::before {
		content: url('../img/call.png');
		display: inline-block;
		vertical-align: top;
		width: 11px;
		height: 16px;
		margin-right: 10px;
	}
	.company_mobile-call_hidden{
		display: none;
		position: absolute;
		bottom: -57px;
		left: 0;
		z-index: 2;
	}
	.company_mobile-mode_hidden{
		display: none;
		position: absolute;
		bottom: -61px;
		right: 0;
		z-index: 2;
		
	}
	.company-page_description.open{
		border: none;
		margin-bottom: 17px;
	}
	.company-page_description.open .company_mobile-call span::before {
		display: none;
	}
	.company-page_description.open .company_mobile-call span{
		margin-left: 20px;
	}
	.company_mobile-mode_hidden p{
		white-space: nowrap;
		font-family: "MyriadProLight";
		font-size: 16px;
		color: #000;
		margin-bottom: 4px;
	}
	.company_mobile-mode_hidden p::before{
		content: url('../img/clock.png');
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
	}
	.company-page_description.mode-open{
		border:none;
		margin-bottom: 17px;
	}
	.company-page_description.mode-open .company_mobile-mode span::before {
		display: none;
	}
	.company-page_description.mode-open .company_mobile-mode span {
		margin-left: 20px;
	}
	.company-page_content-show-more {
		display: block;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		font-family: "MyriadProLight";
		font-size: 16px;
		color: #000;
		padding: 8px 0;
		margin-top: 16px;
	}
	.company-page_content-show-more::after{
		content: url('../img/arr-com.png');
		position: absolute;
		right: 22px;
	}
	.company-page_reviews_leave-your-img,
	.company-page_reviews_leave-your-assessment-left span ,
	.company-page_reviews_leave-your-assessment-left .company-page_reviews_leave-your-stars {
		display: none;
	}
	.company-page_reviews_leave-your-assessment{
		width: 100%;
		margin: 0;
	}
	.company-page_reviews_leave-your-assessment-left{
		background-color: #FFF;
		padding: 0;
	}
	.company-page_reviews_leave-your-assessment-left a{
		margin: 0;
		width: 100%;
		background-color: #FFF;
		border: 1px solid rgb(66, 133, 244);
		font-family: "MyriadProLight";
		font-size: 16px;
		color: rgb(66, 133, 244);
		padding: 7px 0 6px 0;
	}
	.company-page_reviews_item-img,
	.company-page_reviews_item-info {
		display: block;
		text-align: left;
	}
	.company-page_reviews_item-img img{
		width: 27px;
		height: 27px;
		float: left;
		margin-right: 10px;
	}
	.company-page_reviews_item-name{
		margin-bottom: 4px;
		width: calc(100% - 208px);
	}
	.company-page_reviews_item-info{
		margin-left: 38px;
	}
	.company-page_reviews_item-answer{
		margin-left: 0;
	}
	.company-page_reviews_item-answer {
		border-bottom: 1px solid #bbb;
		padding-bottom: 20px;
	}
	.company-page_content{
		border: none;
	}
	.company-page_reviews_add{
		margin-left: 0;
	}
	.latest_news-item,
	.latest_news-item img {
		height: 65px;
	}
	.latest_news-item img {
		padding-right: 10px;
	}
	.company-page_content{
		padding: 0;
		margin: 0 0 17px 0;
	}
	.latest_news{
		margin-bottom: 25px;
	}
	.company_mobile-communications{
		display: block;
	}
	.company-page_similar-item-logo img{
		max-height: 19px;
	}
	.company-page_similar-item-logo{
		width: 75px;
		height:35px;;
	}
	.company-page_similar-item{
		width: 92px;
		height: 58px;
	}
	.company-page_similar-wrap{
		width: auto;
		margin-left: -10px;
		margin-right: -10px;
	}
	.company-page_head-stars-count{
		font-size: 14px;
		margin-top: 2px;
	}
	.company-page_head-stars,
	.company-page_head-stars-count {
		display: inline-block;
		vertical-align: bottom;
	}
	.company-page_reviews_item{
		position: relative;
	}
	.company-page_reviews_item-info-stars{
		position: absolute;
		top: 3px;
		left: 80px;
	}
	.company-page_not-active .company-page_banner-not-active,
	.company-page_not-active .company-page_map {
		display: none;
	}
	.company-page_not-active .company-page_description{
		padding-bottom: 2px;
		margin-bottom: 27px;
	}
	.company-page_not-active .company-page_description-text{
		margin-top: 0;
	}
	.company-page_not-active .company-page_description-wrap {
		margin-top: 5px;
		overflow: visible;
	}
	.company-page_not-active .company-page_head-info{
		position: absolute;
		top: -6px;
		right: 0;
		margin: 0;
	}
	.company-page_not-active .company-page_head{
		padding-bottom: 4px;
	}
	.company-page_not-active h1{
		margin-top: 16px;
	}
	.company-page_not-active .company-page_description.mode-open,
	.company-page_not-active .company-page_description.open {
		margin-bottom: 52px;
	}
	.company-page_answer-owner{
		position: absolute;
		top: 0;
		right: 0;
	}
	.company-page_reviews_item-answer{
		position: relative;
		display: block;
	}
	.company-page_answer-owner span{
		font-family: "MyriadProLight";
		font-size: 16px;
		color: #bbb;
	}
	.company-page_not-active .company-page_map {
		display: none;
	}
	.company-page_not-active .company-page_banner-not-active {
		top: 181px;
	}
}
