.pay_page{
    margin-top: 90px;
}
.pay_page-package{
    display: inline-block;
    vertical-align: top;
    width: 42.8%;
    text-align: right;
    background: #fda527;
    padding: 16px 70px 17px 0;
    border-radius: 0 37px 37px 0;
    margin-right: 148px;
}
.pay_page-package span{
    font-family: "MyriadProBold";
    color: #fff;
    font-size: 30px;
}
.pay_page-form{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.pay_page-form p{ 
    color: #010101;
    font-size: 25px;
    margin-bottom: 15px;
}
.pay_page-placement-radio label{
    font-family: "MyriadProLight";
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 12px;
    cursor: pointer;
}
.pay_page-placement-radio label input{
    margin-right: 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 0;
    vertical-align: middle;
    margin-bottom: 2px;
}
.pay_page-payment-radio label {
    font-family: "MyriadProLight";
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 12px;
    cursor: pointer;
}

.pay_page-payment-radio label input {
    margin-right: 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-top: 0;
    vertical-align: middle;
    margin-bottom: 2px;
}
.pay_page-payment-img{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #bbb;
    height: 35px;
    width: 100px;
    text-align: center;
    margin-right: 6px;
}
.pay_page-payment-btn a{
    display: inline-block;
    color: #4285f4;
    font-size: 18px;
    border: 1px solid #4285f4;
    border-radius: 5px;
    padding: 6px 81px 7px 81px ;
}
.pay_page-placement-items{
    margin-bottom: 16px;
}
.pay_page-payment-items{
    margin-bottom: 33px;
}
.pay_page-package.premium{
    background-color: #4285f4;
}
@media (max-width: 992px) {
    .pay_page {
        margin-top: 40px;
    }
    .pay_page-package span{
        font-size: 25px;
    }
    .pay_page-package{
        width: 40.8%;
        padding: 4px 40px 5px 0;
        border-radius: 0 22px 22px 0;
        margin-right: 78px;
    }
    .pay_page-form p{
        font-size: 20px;
        margin-left: 10px;
    }
    .pay_page-placement-radio label{
        font-size: 18px;
    }
    .pay_page-payment-radio label{
        font-size: 18px;
    }
    .pay_page-form{
        margin-top: 7px;
        padding-right: 24px;
    }
    .pay_page-payment-img img{
        max-width: 73px;
        height: auto;
        max-height: 23px;
    }
    .pay_page-payment-img{
        height: 29px;
        width: 85px;
        margin-right: 1px;
    }
    .pay_page-payment-btn a{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .pay_page-payment-items{
        margin-bottom: 18px;
        margin-left: 10px;
    }
    .pay_page-placement-items {
        margin-bottom: 8px;
        margin-left: 10px;
    }
    .pay_page-placement-radio label input{
        margin-right: 8px;
    }
    .pay_page-payment-radio label input {
        margin-right: 8px;
    }
    .pay_page-payment-radio-images label input {
        margin-right: 5px;
    }
    .pay_page-payment-radio-images label .pay_page-payment-img:last-child{
        margin-right: 0;
    }
}
@media (max-width: 700px) {
    .pay_page-form{
        display: block;
        padding: 0 10px;
    }
    .pay_page-package{
        width: 300px;
        text-align: left;
        padding-left: 20px;
        margin: 0 0 15px 0;
    }
    .pay_page{
        margin-top: 23px;
    }
}