.popups {
	display: none;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0, 0.651);
	height: 100%;
	width: 100%;
	overflow: auto;
	z-index: 100;
}

.popup {
	position: relative;
	top: 100px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 5px;
	text-align: center;
	background-color: #fff;
}

.popup__content {
	width: 320px;
	margin: auto;
	padding: 50px 0 70px 0;
}

.popup__content h2 {
	font-size: 30px;
	font-family: "MyriadProBold";
	color: rgb(0, 0, 0);
	line-height: 0.772;
}

.popup__content form > input {
	margin-bottom: 10px;
	border: 1px solid rgb(172, 172, 172);
	font-size: 16px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.popup__content input:focus {
	border: 2px solid rgb(66, 133, 244);
}

.popup__content form > button,
.popup__content form > input,
.popup__content .registration a {
	width: 100%;
	height: 40px;
}

.popup__content form > button {
	font-size: 16px;
	font-family: "MyriadProBold";
	color: rgb(66, 133, 244);
	border: 1px solid rgb(66, 133, 244);
	border-radius: 5px;
}

.popup__content form > button:hover,
.popup__content form > button:focus,
.popup__content form > button:active {
	color: rgb(255, 255, 255);
	border: 1px solid rgb(66, 133, 244);
	background-color: rgb(66, 133, 244);
}

.popup__content form {
	margin: 33px 0 10px;
}

.popup__content .remember-password a {
	font-size: 16px;
	color: #737579;
	text-decoration: underline;
	line-height: 1.786;
}

.popup__content .remember-password a:hover {
	color:  #000000;
}

.popup__content .registration a {
	display: block;
	line-height: 40px;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(66, 133, 244);
	background-color: rgb(66, 133, 244);
	border-radius: 5px;
	margin: 23px 0 47px;
	font-family: "MyriadProBold";
}

.popup__content .registration a:hover {
	text-decoration: none;
}

.popup__sign-up .popup__content button {
	color: rgb(255, 255, 255);
	border: 1px solid rgb(66, 133, 244);
	background-color: rgb(66, 133, 244);
}

.popup__sign-up .popup__content p {
	font-size: 14px;
	font-family: "MyriadProLight";
	color: rgb(0, 0, 0);
}

.popup__sign-up .popup__content p a {
	text-decoration: underline;
	color: rgb(0, 0, 0); 
}

.popup__sign-in,
.popup__sign-up {
	max-width: 660px;
	display: none;
}

.sign-in__social h3 {
	font-size: 18px;
	font-family: "MyriadProBold";
	color: rgb(0, 0, 0);
}

.sign-in__social_links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 22px 26px 0;
}

.close {
	opacity: 1;
	font-size: 0;
	margin: 20px 20px 0 0;
}
.popup__sign-up_company .form-group_btn {
	text-align: center;
}
.popup__sign-up_company .btn-add-company {
	font-size: 18px;
	color: #fff;
	width: 260px;
	border: 1px solid rgb(66, 133, 244);
	background-color: rgb(66, 133, 244);
	border-radius: 5px;
	margin: 0;
}
.popup__sign-up_company {
	display: none;
	max-width: 1022px;
}
.popup__sign-up_company .popup__content {
	width: 100%;
	min-width: 320px;
	padding: 65px 100px 70px;
}
.popup__sign-up_company .form-control {
	display: inline-block;
	font-size: 16px;
	font-family: "MyriadProRegular";
	font-weight: normal;
	color: #a0a0a0;
	width: 535px;
	height: 40px;
	margin-right: 5px;
}
.popup__sign-up_company .form-control_600px {
	display: none;
}
.popup__sign-up_company .form-group_email .form-control {
	width: 260px;
}
.popup__sign-up_company .form-horizontal {
	text-align: right;
}
.popup__sign-up_company .form-horizontal .form-group {
	margin-right: 0; 
    margin-left: 0; 
}
.popup__sign-up_company .form-control_phone {
	margin-right: 12px;
}
.popup__sign-up_company label {
	font-size: 18px;
	font-family: "MyriadProRegular";
	font-weight: normal;
	margin-right: 15px;
}
/*FILE_UPLOAD*/
.form-group_file {
	position: relative;
}
.form-group_file input[type=file] {
	opacity: 0;
}
.form-group_file .button {
	display: inline-block;
	font-size: 18px;
	font-family: "MyriadProRegular";
	color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 130px;
	height: 40px;
	right: 5px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}
.form-group_file .file-name {
	display: inline-block;
	font-size: 16px;
    font-family: "MyriadProRegular";
    font-weight: normal;
    color: #a0a0a0;
    width: 405px;
    height: 40px;
    line-height: 38px;
    text-align: left;
    right: 135px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0 12px;
}
.form-group_file .button,
.form-group_file .file-name {
	position: absolute;
	top: 0;
}

/*END FILE_UPLOAD*/
/*FORM_ERROR*/
form .error {
	display: block;
	padding: 4px;
	margin: 8px auto;
	background: #fcc;
	border: 1px dotted #dd7682;
	border-radius: 2px;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
}
.popup__sign-up_company form .error {
	max-width: 260px;
}
